@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --light-blue-color: #23aaeb;
  --dark-blue-color: #2765ac;
  --light-red-color: #ff6a6a;
  --light-green-color: #27b40c;
  --bs-modal-width: 80vw !important;
  --pale-gray: rgba(35, 170, 235, 0.14);
  --on-leave-gray: rgb(137, 151, 164);
  --modal-bg-color: rgba(40, 104, 174, 0.34);
  --bg-on-leave-gray-opacity016: rgb(137, 151, 164, 0.16);
  --bg-pale-red-color-opacity-016: rgb(255, 106, 106, 0.16);
  --bg-pale-blue-color-opacity-016: rgb(35, 170, 235, 0.16);
  --bg-dark-blue-color-opacity-016: rgb(39, 101, 172, 0.16);
  --bg-pale-green-color-opacity-016: rgb(39, 180, 12, 0.16);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* custom styles */

.dark-blue-bg {
  background-color: var(--dark-blue-color);
}
a.active {
  background-color: var(--dark-blue-color);
}

.fs-small-12 {
  font-size: 12px;
}
.fs-small-11 {
  font-size: 11px;
}
.fs-small-20 {
  font-size: 20px;
}
.fs-small-13 {
  font-size: 13px;
}
.fs-small-10 {
  font-size: 10px;
}
.fs-small-8 {
  font-size: 8px;
}
.bg-pale-red {
  background-color: var(--light-red-color);
}
.bg-pale-blue {
  background-color: var(--light-blue-color);
}

/* side bar */
.badge-position {
  position: absolute;
  top: -10px;
  right: 0;
}
.sid-bar-link-padding {
  padding: 19px 21px 23px;
  height: 98px;
}
.side-bar {
  height: 1291px;
  padding: 72.5px 0 761px;
  background-image: linear-gradient(to bottom, #39a4dc, #2763ab);
}
.border-line {
  width: 0;
  height: 98px;
  margin: 18.5px 0 21.5px;
  border: solid 4px #59c203;
}
/* employees */
.icon-shadow {
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.3);
}
.emplyee-card {
  display: flex;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.09);
}
.text-light-blue-color {
  color: var(--light-blue-color);
}
.search-icon {
  top: 10px;
  left: 20px;
}
.pleft-10px {
  padding-left: 30px;
}
.add-btn {
  width: 101px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  background: var(--dark-blue-color);
  color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.h-21 {
  height: 21px;
}
.employee-img-border {
  border: solid 4px #8997a4;
}
.employee-card-links-border-line {
  border: solid 4px #59c203;
}
.modal-bg-color {
  background-color: rgba(40, 104, 174, 0.43);
}
.bg-employee-section {
  background-color: #f7f8f9;
}
.employee-card-icons {
  font-size: 8.6px;
}
.employee-card-image {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.employee-card-popup {
  font-size: 8px;
}
.icons-under-employee-img {
  color: #8997a4;
}
.icons-under-employee-info {
  color: #313030;
}
/* modal */
.modal-content {
  border-radius: 4px !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -ms-border-radius: 4px !important;
  -o-border-radius: 4px !important;
}
.modal-btn {
  width: 85px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-90w {
  width: 80vw !important;

  height: 658px !important;
}
.modal-dialog {
  max-width: 80vw !important;
}
.modal-custom-title {
  width: 100%;
  color: var(--light-blue-color);
  font-size: 18px;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 0;
}
.modal-header {
  padding: 15px !important;
  border: none !important;
  border-bottom: solid 2px var(--light-blue-color) !important;
  padding-bottom: 5px !important;
}
.modal-backdrop {
  background: var(--modal-bg-color) !important;
  backdrop-filter: blur(3px) !important;
}
.form-title {
  color: var(--light-blue-color);
  font-size: 16px;
  font-weight: bold;
  position: relative;
}
.form-title:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  content: "";
  width: 44px;
  height: 4px;
  border-radius: 3px;
  background-color: var(--pale-gray);
}
